# Datapipeline Gans
## Loading API keys

In [1]:
def load_keys(relative_path) -> dict:
    import configparser
    import os

    configParser = configparser.RawConfigParser()   
    configFilePath = os.path.join(os.path.dirname(''), relative_path) 
    configParser.read(configFilePath)
    
    return {'openweather_key' : configParser.get('APIs', 'openweather_key'),
            'aerodatabox_key' : configParser.get('APIs', 'aerodatabox_key')}

In [ ]:
import utils

In [ ]:
keys = PrivateKeysHandler(relative_path_to_file)
api_key_dict = keys.load_keys('APIs')

In [2]:
d = load_keys('.env')
openweather_key = d['openweather_key']
aerodatabox_key = d['aerodatabox_key']

# Importing libraries

In [3]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

# Getting the cities_df

To collect information about European cities Wikipedia was used. We extracted the city names and population table found in the url below.

In [4]:
url = "https://en.wikipedia.org/wiki/List_of_cities_in_the_European_Union_by_population_within_city_limits"
response = requests.get(url)
response.status_code # 200 status code means OK!

200

In [5]:
#  parse html (create the 'soup')
soup = BeautifulSoup(response.content, "html.parser")
# check that the html code looks like it should
#soup.prettify

In [6]:
# collecting city and population of the first 50 entries of the table
cities = []
population = []
for i in range(2, 52):
        cities.append(soup.select(f'.wikitable > tbody > tr:nth-child({i}) > td:nth-child(2)')[0].get_text())
        population.append(soup.select(f'.wikitable > tbody > tr:nth-child({i}) > td:nth-child(4) > span')[0].get_text())

We also want the geographical information (latitude, longitude) of the cities. To get those we opened for each city it's corresponding Wikipedia page (city_url). Fortunately lat and lon were at the same spot each time. So a single for loop was enough.

In [7]:
latitude = []
longitude = []
for city in cities:
    city_url = 'https://en.wikipedia.org/wiki/' + city
    city_response = requests.get(city_url)
    soup = BeautifulSoup(city_response.content, "html.parser")
    latitude.append(soup.select(".latitude")[0].get_text())
    longitude.append(soup.select(".longitude")[0].get_text())

In [8]:
#latitude

In [9]:
assert len(cities) == len(population) == len(latitude) == len(longitude)

In [10]:
# making a df with the columns we gathered
cities_df = pd.DataFrame( data = {'city': cities,
                         'lat':latitude,
                         'lon': longitude,
                         'population':population}
                        )
cities_df

                 city         lat         lon population
0              Berlin  52°31′12″N  13°24′18″E  3,664,088
1              Madrid  40°25′00″N  03°42′09″W  3,305,408
2                Rome  41°53′36″N  12°28′58″E  2,770,226
3           Bucharest  44°25′57″N   26°6′14″E  2,161,347
4               Paris  48°51′24″N   2°21′08″E  2,139,907
5              Vienna     48°12′N     16°22′E  1,951,354
6             Hamburg  53°33′55″N  10°00′05″E  1,852,478
7              Warsaw  52°13′48″N  21°00′40″E  1,792,718
8            Budapest  47°29′33″N  19°03′05″E  1,723,836
9           Barcelona     41°23′N      2°11′E  1,636,732
10             Munich  48°08′15″N  11°34′30″E  1,488,202
11              Milan  45°28′01″N  09°11′24″E  1,374,582
12              Sofia     42°42′N     23°20′E  1,307,439
13             Prague  50°05′15″N  14°25′17″E  1,275,406
14            Cologne  50°56′11″N   6°57′10″E  1,083,498
15          Stockholm  59°19′46″N    18°4′7″E    978,770
16             Naples  40°50′42″N  14°15′30″E    922,094
17          Amsterdam     52°22′N      4°54′E    905,234
18          Marseille  43°17′47″N   5°22′12″E    870,731
19              Turin  45°04′45″N  07°40′34″E    858,205
20           Valencia  39°28′00″N   0°22′30″W    789,744
21             Kraków  50°03′41″N  19°56′14″E    780,796
22             Zagreb     45°49′N     15°59′E    769,944
23  Frankfurt am Main      50°7′N      8°41′E    764,104
24            Seville     37°23′N      5°59′W    684,234
25           Zaragoza     41°39′N      0°53′W    675,301
26               Łódź  51°46′37″N  19°27′17″E    667,923
27             Athens  37°59′03″N  23°43′41″E    664,046
28           Helsinki  60°10′15″N  24°56′15″E    658,864
29          Rotterdam     51°55′N      4°30′E    655,418
30            Wrocław  51°06′36″N  17°01′57″E    641,201
31         Copenhagen  55°40′34″N  12°34′06″E    638,117
32            Palermo  38°06′40″N  13°21′06″E    637,885
33          Stuttgart  48°46′55″N   9°11′02″E    630,305
34         Düsseldorf     51°14′N      6°47′E    620,523
35               Riga  56°56′56″N   24°6′23″E    614,618
36            Leipzig  51°20′24″N  12°22′30″E    597,493
37           Dortmund     51°31′N      7°28′E    587,696
38         Gothenburg     57°42′N     11°58′E    587,549
39              Essen   51°27′3″N    7°0′47″E    582,415
40             Málaga  36°43′10″N   4°25′12″W    577,405
41             Bremen      53°5′N      8°48′E    566,573
42              Genoa  44°24′40″N   8°55′58″E    566,410
43            Vilnius     54°41′N     25°17′E    560,120
44            Dresden  51°03′00″N  13°44′24″E    556,227
45             Dublin  53°21′00″N  06°15′37″W    554,554
46          The Hague  52°04′48″N  04°18′36″E    553,277
47            Hanover     52°22′N      9°43′E    534,049
48             Poznań  52°24′30″N  16°56′01″E    530,464
49            Antwerp  51°13′04″N  04°24′01″E    528,903

For the population to be an integer, we have to remove the commas:

In [11]:
cities_df['population'] = cities_df.population.str.replace(',', '')
cities_df['population'] = pd.to_numeric(cities_df['population'])
cities_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city        50 non-null     object
 1   lat         50 non-null     object
 2   lon         50 non-null     object
 3   population  50 non-null     int64
dtypes: int64(1), object(3)
memory usage: 1.7+ KB

Since we want to use the longitude and latitude for the aerodata API, we have to change the format of these entries. We want to have float numbers instead of sth like 12°34´56´´N.
Note that a latitude with an S (south) and a longitude with a W (west) correspond to negative numbers in this case.

In [12]:
# since all latitudes gathered are on the north half and not too close to the equator,
# we can just remove all non-digits and pot a floating point after the second digit.
# If we would look at cities all over the world, we should proceed as we do for the longitude
cities_df['lat'] = cities_df.lat.str.replace('\D','', regex=True)
cities_df['lat'] = cities_df.lat.str[:2] + '.' + cities_df.lat.str[2:]

In [13]:
cities_df['lon'] = cities_df.lon.str.replace('°','.')
cities_df.loc[cities_df.lon.str[-1] == 'W','lon'] = '-' + cities_df.loc[cities_df.lon.str[-1] == 'W','lon']

In [14]:
cities_df['lon'] = cities_df['lon'].replace('[EW]', '', regex=True)

In [15]:
cities_df['lon'] = cities_df['lon'].replace('″', '', regex=True)
cities_df['lon'] = cities_df['lon'].replace('′', '', regex=True)

In [16]:
cities_df['lat'] = pd.to_numeric(cities_df['lat'])
cities_df['lon'] = pd.to_numeric(cities_df['lon'])

In [17]:
cities_df

                 city      lat      lon  population
0              Berlin  52.3112  13.2418     3664088
1              Madrid  40.2500  -3.4209     3305408
2                Rome  41.5336  12.2858     2770226
3           Bucharest  44.2557  26.6140     2161347
4               Paris  48.5124   2.2108     2139907
5              Vienna  48.1200  16.2200     1951354
6             Hamburg  53.3355  10.0005     1852478
7              Warsaw  52.1348  21.0040     1792718
8            Budapest  47.2933  19.0305     1723836
9           Barcelona  41.2300   2.1100     1636732
10             Munich  48.0815  11.3430     1488202
11              Milan  45.2801   9.1124     1374582
12              Sofia  42.4200  23.2000     1307439
13             Prague  50.0515  14.2517     1275406
14            Cologne  50.5611   6.5710     1083498
15          Stockholm  59.1946  18.4700      978770
16             Naples  40.5042  14.1530      922094
17          Amsterdam  52.2200   4.5400      905234
18          Marseille  43.1747   5.2212      870731
19              Turin  45.0445   7.4034      858205
20           Valencia  39.2800  -0.2230      789744
21             Kraków  50.0341  19.5614      780796
22             Zagreb  45.4900  15.5900      769944
23  Frankfurt am Main  50.7000   8.4100      764104
24            Seville  37.2300  -5.5900      684234
25           Zaragoza  41.3900  -0.5300      675301
26               Łódź  51.4637  19.2717      667923
27             Athens  37.5903  23.4341      664046
28           Helsinki  60.1015  24.5615      658864
29          Rotterdam  51.5500   4.3000      655418
30            Wrocław  51.0636  17.0157      641201
31         Copenhagen  55.4034  12.3406      638117
32            Palermo  38.0640  13.2106      637885
33          Stuttgart  48.4655   9.1102      630305
34         Düsseldorf  51.1400   6.4700      620523
35               Riga  56.5656  24.6230      614618
36            Leipzig  51.2024  12.2230      597493
37           Dortmund  51.3100   7.2800      587696
38         Gothenburg  57.4200  11.5800      587549
39              Essen  51.2730   7.0470      582415
40             Málaga  36.4310  -4.2512      577405
41             Bremen  53.5000   8.4800      566573
42              Genoa  44.2440   8.5558      566410
43            Vilnius  54.4100  25.1700      560120
44            Dresden  51.0300  13.4424      556227
45             Dublin  53.2100  -6.1537      554554
46          The Hague  52.0448   4.1836      553277
47            Hanover  52.2200   9.4300      534049
48             Poznań  52.2430  16.5601      530464
49            Antwerp  51.1304   4.2401      528903

Now we can save the file as a csv-file.

In [18]:
cities_df.to_csv('cities.csv')

## Getting weather information using openweather API

Here we use the API keys that we loaded in the beginning of the notebook.

In [19]:
weather_url = f'http://api.openweathermap.org/data/2.5/forecast?q=Berlin&appid={openweather_key}&units=metric'
response = requests.get(weather_url)
#response.json()
response.json()

{'cod': '200',
 'message': 0,
 'cnt': 40,
 'list': [{'dt': 1654776000,
   'main': {'temp': 20.19,
    'feels_like': 20.07,
    'temp_min': 20.19,
    'temp_max': 21.56,
    'pressure': 999,
    'sea_level': 999,
    'grnd_level': 1006,
    'humidity': 69,
    'temp_kf': -1.37},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'clouds': {'all': 40},
   'wind': {'speed': 3.88, 'deg': 285, 'gust': 5.19},
   'visibility': 10000,
   'pop': 0.06,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-09 12:00:00'},
  {'dt': 1654786800,
   'main': {'temp': 21.25,
    'feels_like': 20.97,
    'temp_min': 21.25,
    'temp_max': 23.36,
    'pressure': 1003,
    'sea_level': 1003,
    'grnd_level': 1006,
    'humidity': 59,
    'temp_kf': -2.11},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 60},
   'wind': {'speed': 3.47, 'deg': 290, 'gust': 4.63},
   'visibility': 10000,
   'pop': 0.13,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-09 15:00:00'},
  {'dt': 1654797600,
   'main': {'temp': 20.59,
    'feels_like': 20.19,
    'temp_min': 20.59,
    'temp_max': 20.79,
    'pressure': 1008,
    'sea_level': 1008,
    'grnd_level': 1008,
    'humidity': 57,
    'temp_kf': -0.2},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 80},
   'wind': {'speed': 4.85, 'deg': 305, 'gust': 8.22},
   'visibility': 10000,
   'pop': 0.03,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-09 18:00:00'},
  {'dt': 1654808400,
   'main': {'temp': 18.11,
    'feels_like': 17.83,
    'temp_min': 18.11,
    'temp_max': 18.11,
    'pressure': 1016,
    'sea_level': 1016,
    'grnd_level': 1011,
    'humidity': 71,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10n'}],
   'clouds': {'all': 99},
   'wind': {'speed': 3.6, 'deg': 320, 'gust': 8.35},
   'visibility': 10000,
   'pop': 0.28,
   'rain': {'3h': 0.19},
   'sys': {'pod': 'n'},
   'dt_txt': '2022-06-09 21:00:00'},
  {'dt': 1654819200,
   'main': {'temp': 14.79,
    'feels_like': 14.44,
    'temp_min': 14.79,
    'temp_max': 14.79,
    'pressure': 1018,
    'sea_level': 1018,
    'grnd_level': 1013,
    'humidity': 81,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10n'}],
   'clouds': {'all': 79},
   'wind': {'speed': 3.63, 'deg': 311, 'gust': 8.72},
   'visibility': 10000,
   'pop': 0.27,
   'rain': {'3h': 0.18},
   'sys': {'pod': 'n'},
   'dt_txt': '2022-06-10 00:00:00'},
  {'dt': 1654830000,
   'main': {'temp': 12.6,
    'feels_like': 12.19,
    'temp_min': 12.6,
    'temp_max': 12.6,
    'pressure': 1019,
    'sea_level': 1019,
    'grnd_level': 1014,
    'humidity': 87,
    'temp_kf': 0},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'clouds': {'all': 30},
   'wind': {'speed': 3.11, 'deg': 299, 'gust': 8.29},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-10 03:00:00'},
  {'dt': 1654840800,
   'main': {'temp': 15.65,
    'feels_like': 15.05,
    'temp_min': 15.65,
    'temp_max': 15.65,
    'pressure': 1021,
    'sea_level': 1021,
    'grnd_level': 1016,
    'humidity': 68,
    'temp_kf': 0},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'clouds': {'all': 17},
   'wind': {'speed': 3.94, 'deg': 296, 'gust': 6.71},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-10 06:00:00'},
  {'dt': 1654851600,
   'main': {'temp': 20.39,
    'feels_like': 19.53,
    'temp_min': 20.39,
    'temp_max': 20.39,
    'pressure': 1021,
    'sea_level': 1021,
    'grnd_level': 1016,
    'humidity': 40,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 4.31, 'deg': 288, 'gust': 5.38},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-10 09:00:00'},
  {'dt': 1654862400,
   'main': {'temp': 23.41,
    'feels_like': 22.56,
    'temp_min': 23.41,
    'temp_max': 23.41,
    'pressure': 1021,
    'sea_level': 1021,
    'grnd_level': 1016,
    'humidity': 29,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 4.06, 'deg': 289, 'gust': 5},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-10 12:00:00'},
  {'dt': 1654873200,
   'main': {'temp': 24.46,
    'feels_like': 23.67,
    'temp_min': 24.46,
    'temp_max': 24.46,
    'pressure': 1020,
    'sea_level': 1020,
    'grnd_level': 1015,
    'humidity': 27,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 3.54, 'deg': 295, 'gust': 4.42},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-10 15:00:00'},
  {'dt': 1654884000,
   'main': {'temp': 22.32,
    'feels_like': 21.57,
    'temp_min': 22.32,
    'temp_max': 22.32,
    'pressure': 1020,
    'sea_level': 1020,
    'grnd_level': 1015,
    'humidity': 37,
    'temp_kf': 0},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'clouds': {'all': 19},
   'wind': {'speed': 2.79, 'deg': 309, 'gust': 4.07},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-10 18:00:00'},
  {'dt': 1654894800,
   'main': {'temp': 18.46,
    'feels_like': 17.67,
    'temp_min': 18.46,
    'temp_max': 18.46,
    'pressure': 1021,
    'sea_level': 1021,
    'grnd_level': 1016,
    'humidity': 50,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'clouds': {'all': 80},
   'wind': {'speed': 1.83, 'deg': 252, 'gust': 2.34},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2022-06-10 21:00:00'},
  {'dt': 1654905600,
   'main': {'temp': 18.3,
    'feels_like': 17.7,
    'temp_min': 18.3,
    'temp_max': 18.3,
    'pressure': 1021,
    'sea_level': 1021,
    'grnd_level': 1016,
    'humidity': 58,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 85},
   'wind': {'speed': 1.46, 'deg': 289, 'gust': 2.85},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2022-06-11 00:00:00'},
  {'dt': 1654916400,
   'main': {'temp': 15.78,
    'feels_like': 15.32,
    'temp_min': 15.78,
    'temp_max': 15.78,
    'pressure': 1021,
    'sea_level': 1021,
    'grnd_level': 1016,
    'humidity': 73,
    'temp_kf': 0},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'clouds': {'all': 34},
   'wind': {'speed': 1.67, 'deg': 263, 'gust': 2.46},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-11 03:00:00'},
  {'dt': 1654927200,
   'main': {'temp': 17.74,
    'feels_like': 17.35,
    'temp_min': 17.74,
    'temp_max': 17.74,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1017,
    'humidity': 68,
    'temp_kf': 0},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'clouds': {'all': 45},
   'wind': {'speed': 1.79, 'deg': 247, 'gust': 2.97},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-11 06:00:00'},
  {'dt': 1654938000,
   'main': {'temp': 22.25,
    'feels_like': 21.94,
    'temp_min': 22.25,
    'temp_max': 22.25,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1017,
    'humidity': 54,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 74},
   'wind': {'speed': 2.88, 'deg': 250, 'gust': 3.9},
   'visibility': 10000,
   'pop': 0.01,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-11 09:00:00'},
  {'dt': 1654948800,
   'main': {'temp': 25.61,
    'feels_like': 25.32,
    'temp_min': 25.61,
    'temp_max': 25.61,
    'pressure': 1021,
    'sea_level': 1021,
    'grnd_level': 1016,
    'humidity': 42,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 67},
   'wind': {'speed': 3.18, 'deg': 257, 'gust': 5.26},
   'visibility': 10000,
   'pop': 0.22,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-11 12:00:00'},
  {'dt': 1654959600,
   'main': {'temp': 25.5,
    'feels_like': 25.2,
    'temp_min': 25.5,
    'temp_max': 25.5,
    'pressure': 1020,
    'sea_level': 1020,
    'grnd_level': 1015,
    'humidity': 42,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 87},
   'wind': {'speed': 2.65, 'deg': 256, 'gust': 5.81},
   'visibility': 10000,
   'pop': 0.18,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-11 15:00:00'},
  {'dt': 1654970400,
   'main': {'temp': 23.52,
    'feels_like': 23.13,
    'temp_min': 23.52,
    'temp_max': 23.52,
    'pressure': 1021,
    'sea_level': 1021,
    'grnd_level': 1016,
    'humidity': 46,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 80},
   'wind': {'speed': 3.87, 'deg': 280, 'gust': 7.09},
   'visibility': 10000,
   'pop': 0.11,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-11 18:00:00'},
  {'dt': 1654981200,
   'main': {'temp': 18.7,
    'feels_like': 18.24,
    'temp_min': 18.7,
    'temp_max': 18.7,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1017,
    'humidity': 62,
    'temp_kf': 0},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02n'}],
   'clouds': {'all': 16},
   'wind': {'speed': 2.34, 'deg': 293, 'gust': 5.05},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2022-06-11 21:00:00'},
  {'dt': 1654992000,
   'main': {'temp': 16.75,
    'feels_like': 16.28,
    'temp_min': 16.75,
    'temp_max': 16.75,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1017,
    'humidity': 69,
    'temp_kf': 0},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02n'}],
   'clouds': {'all': 18},
   'wind': {'speed': 1.58, 'deg': 3, 'gust': 1.95},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2022-06-12 00:00:00'},
  {'dt': 1655002800,
   'main': {'temp': 15.37,
    'feels_like': 15.1,
    'temp_min': 15.37,
    'temp_max': 15.37,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1017,
    'humidity': 82,
    'temp_kf': 0},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'clouds': {'all': 26},
   'wind': {'speed': 0.75, 'deg': 47, 'gust': 0.81},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-12 03:00:00'},
  {'dt': 1655013600,
   'main': {'temp': 19.46,
    'feels_like': 19.11,
    'temp_min': 19.46,
    'temp_max': 19.46,
    'pressure': 1023,
    'sea_level': 1023,
    'grnd_level': 1018,
    'humidity': 63,
    'temp_kf': 0},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'clouds': {'all': 17},
   'wind': {'speed': 1.51, 'deg': 295, 'gust': 1.79},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-12 06:00:00'},
  {'dt': 1655024400,
   'main': {'temp': 24.61,
    'feels_like': 24.12,
    'temp_min': 24.61,
    'temp_max': 24.61,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1017,
    'humidity': 38,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 3},
   'wind': {'speed': 1.57, 'deg': 248, 'gust': 3.36},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-12 09:00:00'},
  {'dt': 1655035200,
   'main': {'temp': 24.75,
    'feels_like': 24.3,
    'temp_min': 24.75,
    'temp_max': 24.75,
    'pressure': 1020,
    'sea_level': 1020,
    'grnd_level': 1015,
    'humidity': 39,
    'temp_kf': 0},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'clouds': {'all': 32},
   'wind': {'speed': 2.06, 'deg': 248, 'gust': 3.43},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-12 12:00:00'},
  {'dt': 1655046000,
   'main': {'temp': 27.14,
    'feels_like': 26.55,
    'temp_min': 27.14,
    'temp_max': 27.14,
    'pressure': 1019,
    'sea_level': 1019,
    'grnd_level': 1014,
    'humidity': 31,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 65},
   'wind': {'speed': 1.41, 'deg': 240, 'gust': 5.58},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-12 15:00:00'},
  {'dt': 1655056800,
   'main': {'temp': 23.46,
    'feels_like': 23.06,
    'temp_min': 23.46,
    'temp_max': 23.46,
    'pressure': 1018,
    'sea_level': 1018,
    'grnd_level': 1013,
    'humidity': 46,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 67},
   'wind': {'speed': 2.34, 'deg': 245, 'gust': 5.64},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-12 18:00:00'},
  {'dt': 1655067600,
   'main': {'temp': 20.53,
    'feels_like': 20.02,
    'temp_min': 20.53,
    'temp_max': 20.53,
    'pressure': 1017,
    'sea_level': 1017,
    'grnd_level': 1012,
    'humidity': 53,
    'temp_kf': 0},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03n'}],
   'clouds': {'all': 41},
   'wind': {'speed': 1.55, 'deg': 345, 'gust': 3.11},
   'visibility': 10000,
   'pop': 0.09,
   'sys': {'pod': 'n'},
   'dt_txt': '2022-06-12 21:00:00'},
  {'dt': 1655078400,
   'main': {'temp': 17.41,
    'feels_like': 17.06,
    'temp_min': 17.41,
    'temp_max': 17.41,
    'pressure': 1016,
    'sea_level': 1016,
    'grnd_level': 1011,
    'humidity': 71,
    'temp_kf': 0},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03n'}],
   'clouds': {'all': 41},
   'wind': {'speed': 1.17, 'deg': 288, 'gust': 1.63},
   'visibility': 10000,
   'pop': 0.09,
   'sys': {'pod': 'n'},
   'dt_txt': '2022-06-13 00:00:00'},
  {'dt': 1655089200,
   'main': {'temp': 15.04,
    'feels_like': 14.66,
    'temp_min': 15.04,
    'temp_max': 15.04,
    'pressure': 1016,
    'sea_level': 1016,
    'grnd_level': 1011,
    'humidity': 79,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 100},
   'wind': {'speed': 2.73, 'deg': 334, 'gust': 4.77},
   'visibility': 10000,
   'pop': 0.2,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-13 03:00:00'},
  {'dt': 1655100000,
   'main': {'temp': 17.08,
    'feels_like': 16.46,
    'temp_min': 17.08,
    'temp_max': 17.08,
    'pressure': 1016,
    'sea_level': 1016,
    'grnd_level': 1011,
    'humidity': 62,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 98},
   'wind': {'speed': 4, 'deg': 332, 'gust': 6.06},
   'visibility': 10000,
   'pop': 0.12,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-13 06:00:00'},
  {'dt': 1655110800,
   'main': {'temp': 21.1,
    'feels_like': 20.39,
    'temp_min': 21.1,
    'temp_max': 21.1,
    'pressure': 1016,
    'sea_level': 1016,
    'grnd_level': 1011,
    'humidity': 43,
    'temp_kf': 0},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'clouds': {'all': 27},
   'wind': {'speed': 5.64, 'deg': 302, 'gust': 6.88},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-13 09:00:00'},
  {'dt': 1655121600,
   'main': {'temp': 22.9,
    'feels_like': 22.06,
    'temp_min': 22.9,
    'temp_max': 22.9,
    'pressure': 1016,
    'sea_level': 1016,
    'grnd_level': 1011,
    'humidity': 31,
    'temp_kf': 0},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'clouds': {'all': 16},
   'wind': {'speed': 5.97, 'deg': 301, 'gust': 7.95},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-13 12:00:00'},
  {'dt': 1655132400,
   'main': {'temp': 21.15,
    'feels_like': 20.29,
    'temp_min': 21.15,
    'temp_max': 21.15,
    'pressure': 1017,
    'sea_level': 1017,
    'grnd_level': 1012,
    'humidity': 37,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 74},
   'wind': {'speed': 6.38, 'deg': 299, 'gust': 8.38},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-13 15:00:00'},
  {'dt': 1655143200,
   'main': {'temp': 19.31,
    'feels_like': 18.5,
    'temp_min': 19.31,
    'temp_max': 19.31,
    'pressure': 1017,
    'sea_level': 1017,
    'grnd_level': 1012,
    'humidity': 46,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 66},
   'wind': {'speed': 3.99, 'deg': 290, 'gust': 6.87},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-13 18:00:00'},
  {'dt': 1655154000,
   'main': {'temp': 15.97,
    'feels_like': 15.06,
    'temp_min': 15.97,
    'temp_max': 15.97,
    'pressure': 1019,
    'sea_level': 1019,
    'grnd_level': 1014,
    'humidity': 55,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'clouds': {'all': 60},
   'wind': {'speed': 3.83, 'deg': 304, 'gust': 7.88},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2022-06-13 21:00:00'},
  {'dt': 1655164800,
   'main': {'temp': 12.71,
    'feels_like': 11.68,
    'temp_min': 12.71,
    'temp_max': 12.71,
    'pressure': 1020,
    'sea_level': 1020,
    'grnd_level': 1014,
    'humidity': 63,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'clouds': {'all': 67},
   'wind': {'speed': 3.96, 'deg': 296, 'gust': 8.6},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2022-06-14 00:00:00'},
  {'dt': 1655175600,
   'main': {'temp': 10.66,
    'feels_like': 9.79,
    'temp_min': 10.66,
    'temp_max': 10.66,
    'pressure': 1020,
    'sea_level': 1020,
    'grnd_level': 1015,
    'humidity': 77,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 70},
   'wind': {'speed': 3.64, 'deg': 284, 'gust': 7.79},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-14 03:00:00'},
  {'dt': 1655186400,
   'main': {'temp': 13.09,
    'feels_like': 12.2,
    'temp_min': 13.09,
    'temp_max': 13.09,
    'pressure': 1021,
    'sea_level': 1021,
    'grnd_level': 1016,
    'humidity': 67,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 56},

In [20]:
def openweather(city):
    weather_url = f'http://api.openweathermap.org/data/2.5/forecast?q={city}&limit=5&appid={openweather_key}&units=metric'
    response = requests.get(weather_url)
    
    city_weather = []
    for i in range(len(response.json()['list'])):
        dt_txt = response.json()['list'][i]['dt_txt']
        temp = response.json()['list'][i]['main']['temp']
        humidity = response.json()['list'][i]['main']['humidity']
        weather = response.json()['list'][i]['weather'][0]['main']
        weather_desc = response.json()['list'][i]['weather'][0]['description']
        clouds = response.json()['list'][i]['clouds']['all']
        pop = response.json()['list'][i]['pop']
        city_weather.append([city, dt_txt, temp, humidity, weather, weather_desc, clouds, pop])
    return(city_weather)

In [21]:
#openweather('Berlin')

In [22]:
cit = []
dt_txt = []
temp = []
humidity = []
weather = []
weather_desc = []
clouds = []
pop = []

for city in cities:
    city_weather = openweather(city)
    for i in range(len(city_weather)):
        cit.append(city_weather[i][0])
        dt_txt.append(city_weather[i][1])
        temp.append(city_weather[i][2])
        humidity.append(city_weather[i][3])
        weather.append(city_weather[i][4])
        weather_desc.append(city_weather[i][5])
        clouds.append(city_weather[i][6])
        pop.append(city_weather[i][7])

In [23]:
city_weather_df = pd.DataFrame(data = {'city':cit, 
                                       'dt_txt':dt_txt, 
                                       'temp':temp, 
                                      'humidity': humidity, 
                                      'weather': weather, 
                                      'weather_desc': weather_desc, 
                                      'clouds': clouds, 
                                      'pop' : pop})

In [24]:
city_weather_df

,city,dt_txt,temp,humidity,weather,weather_desc,clouds,pop
0,Berlin,2022-06-09 12:00:00,20.09,69,Clouds,overcast clouds,98,0.06
1,Berlin,2022-06-09 15:00:00,21.18,59,Clouds,overcast clouds,99,0.13
2,Berlin,2022-06-09 18:00:00,20.56,57,Clouds,overcast clouds,99,0.03
3,Berlin,2022-06-09 21:00:00,18.11,71,Rain,light rain,99,0.28
4,Berlin,2022-06-10 00:00:00,14.79,81,Rain,light rain,79,0.27
...,...,...,...,...,...,...,...,...
1995,Antwerp,2022-06-13 21:00:00,13.02,68,Clouds,few clouds,12,0.00
1996,Antwerp,2022-06-14 00:00:00,11.85,73,Clouds,scattered clouds,31,0.00
1997,Antwerp,2022-06-14 03:00:00,10.80,76,Clouds,few clouds,11,0.00
1998,Antwerp,2022-06-14 06:00:00,13.72,65,Clouds,scattered clouds,33,0.00
1999,Antwerp,2022-06-14 09:00:00,19.03,49,Clouds,broken clouds,68,0.00

In [28]:
city_weather_df.to_csv('city_weather.csv')

In [44]:
cities_df

                 city      lat      lon  population
0              Berlin  52.3112  13.2418     3664088
1              Madrid  40.2500  -3.4209     3305408
2                Rome  41.5336  12.2858     2770226
3           Bucharest  44.2557  26.6140     2161347
4               Paris  48.5124   2.2108     2139907
5              Vienna  48.1200  16.2200     1951354
6             Hamburg  53.3355  10.0005     1852478
7              Warsaw  52.1348  21.0040     1792718
8            Budapest  47.2933  19.0305     1723836
9           Barcelona  41.2300   2.1100     1636732
10             Munich  48.0815  11.3430     1488202
11              Milan  45.2801   9.1124     1374582
12              Sofia  42.4200  23.2000     1307439
13             Prague  50.0515  14.2517     1275406
14            Cologne  50.5611   6.5710     1083498
15          Stockholm  59.1946  18.4700      978770
16             Naples  40.5042  14.1530      922094
17          Amsterdam  52.2200   4.5400      905234
18          Marseille  43.1747   5.2212      870731
19              Turin  45.0445   7.4034      858205
20           Valencia  39.2800  -0.2230      789744
21             Kraków  50.0341  19.5614      780796
22             Zagreb  45.4900  15.5900      769944
23  Frankfurt am Main  50.7000   8.4100      764104
24            Seville  37.2300  -5.5900      684234
25           Zaragoza  41.3900  -0.5300      675301
26               Łódź  51.4637  19.2717      667923
27             Athens  37.5903  23.4341      664046
28           Helsinki  60.1015  24.5615      658864
29          Rotterdam  51.5500   4.3000      655418
30            Wrocław  51.0636  17.0157      641201
31         Copenhagen  55.4034  12.3406      638117
32            Palermo  38.0640  13.2106      637885
33          Stuttgart  48.4655   9.1102      630305
34         Düsseldorf  51.1400   6.4700      620523
35               Riga  56.5656  24.6230      614618
36            Leipzig  51.2024  12.2230      597493
37           Dortmund  51.3100   7.2800      587696
38         Gothenburg  57.4200  11.5800      587549
39              Essen  51.2730   7.0470      582415
40             Málaga  36.4310  -4.2512      577405
41             Bremen  53.5000   8.4800      566573
42              Genoa  44.2440   8.5558      566410
43            Vilnius  54.4100  25.1700      560120
44            Dresden  51.0300  13.4424      556227
45             Dublin  53.2100  -6.1537      554554
46          The Hague  52.0448   4.1836      553277
47            Hanover  52.2200   9.4300      534049
48             Poznań  52.2430  16.5601      530464
49            Antwerp  51.1304   4.2401      528903

# Airports

we will now gather all the airports which are close to the cities from our cities_df. 
Since we also want to measure the distance from airport to city, we install geopy.
This allows us to get the distance from latitude and longitude alone.

In [59]:
pip install geopy

Collecting geopyNote: you may need to restart the kernel to use updated packages.
  Downloading geopy-2.2.0-py3-none-any.whl (118 kB)

Collecting geographiclib<2,>=1.49
  Downloading geographiclib-1.52-py3-none-any.whl (38 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.52 geopy-2.2.0

In [60]:
from geopy import distance

In [48]:
airports = []

querystring = {"withFlightInfoOnly":"true"}

headers = {
    "X-RapidAPI-Host": "aerodatabox.p.rapidapi.com",
    "X-RapidAPI-Key": d['aerodatabox_key']
}

for i in range(len(cities_df)):
    lat = cities_df.iloc[i]['lat']
    lon = cities_df.iloc[i]['lon']
    airport_url = f"https://aerodatabox.p.rapidapi.com/airports/search/location/{lat}/{lon}/km/50/16"
    
    response = requests.request("GET", airport_url, headers=headers, params=querystring)
    
    for j in range(len(response.json()['items'])):
        country_code = response.json()['items'][j]['countryCode']
        iata = response.json()['items'][j]['iata']
        icao = response.json()['items'][j]['icao']
        name = response.json()['items'][j]['name']
        #short_name = response.json()['items'][j]['shortName']
        airport_lat = response.json()['items'][j]['location']['lat']
        airport_lon = response.json()['items'][j]['location']['lon']
        airports.append([cities_df.iloc[i]['city'], country_code, iata, icao, name, airport_lat, airport_lon])

In [51]:
airports_df = pd.DataFrame( data = airports, columns = ['city',
                                                        'country_code',
                                                        'iata',
                                                        'icao',
                                                        'airport_name',
                                                        'airport_lat', 
                                                        'airport_lon'])

In [1]:
for i in len(airports_df):
    city_lat = cities_df.loc[cities_df['city'].str == airports_df.iloc[i]['city'].str].lat
    city_lon = cities_df.loc[cities_df['city'].str == airports_df.iloc[i]['city'].str].lon
    city_geo = (city_lat, city_lon)
    airport_geo = (airports_df.iloc[i].airport_lat, airports_df.iloc[i].airport_lon)
    airport =

NameError: name 'airports_df' is not defined

In [47]:
response.json()

{'items': [{'icao': 'ETUR',
   'iata': 'BGN',
   'localCode': 'БЯГ',
   'name': 'Brüggen Air Base',
   'location': {'lat': 51.1997, 'lon': 6.13208},
   'countryCode': 'DE'},
  {'icao': 'EDDL',
   'iata': 'DUS',
   'name': 'Duesseldorf, Düsseldorf',
   'shortName': 'Düsseldorf',
   'municipalityName': 'Duesseldorf',
   'location': {'lat': 51.2895, 'lon': 6.766779},
   'countryCode': 'DE'}]}

In [61]:
print(distance.distance((51.1997, 6.13208), (51.2895, 6.766779)).km)

45.43164214949632

In [39]:
type(response)

requests.models.Response

In [62]:
pd.json_normalize(response.json()['items'])

,icao,iata,name,shortName,municipalityName,countryCode,location.lat,location.lon
0,EBAW,ANR,"Antwerp, Antwerp (Deurne)",(Deurne),Antwerp,BE,51.1894,4.460279
1,EBBR,BRU,Brussels,Brussels,Brussels,BE,50.9014,4.484439
2,EHWO,WOE,"Bergen op Zoom, Woensdrecht Air Base",Woensdrecht Air Base,Bergen op Zoom,NL,51.4491,4.342030