# Datapipeline Gans
## Loading API keys

In [18]:
def load_keys(relative_path) -> dict:
    import configparser
    import os

    configParser = configparser.RawConfigParser()   
    configFilePath = os.path.join(os.path.dirname(''), relative_path) 
    configParser.read(configFilePath)
    
    return {'openweather_key' : configParser.get('APIs', 'openweather_key'),
            'aerodatabox_key' : configParser.get('APIs', 'aerodatabox_key')}

In [ ]:
#import utils

In [ ]:
#keys = PrivateKeysHandler(relative_path_to_file)
#api_key_dict = keys.load_keys('APIs')

In [19]:
d = load_keys('.env')
openweather_key = d['openweather_key']
aerodatabox_key = d['aerodatabox_key']

# Importing libraries

In [3]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

# Getting the cities_df

To collect information about European cities Wikipedia was used. We extracted the city names and population table found in the url below.

In [20]:
url = "https://en.wikipedia.org/wiki/List_of_cities_in_the_European_Union_by_population_within_city_limits"
response = requests.get(url)
response.status_code # 200 status code means OK!

200

In [21]:
#  parse html (create the 'soup')
soup = BeautifulSoup(response.content, "html.parser")
# check that the html code looks like it should
#soup.prettify

In [22]:
# collecting city and population of the first 50 entries of the table
cities = []
population = []
for i in range(2, 52):
        cities.append(soup.select(f'.wikitable > tbody > tr:nth-child({i}) > td:nth-child(2)')[0].get_text())
        population.append(soup.select(f'.wikitable > tbody > tr:nth-child({i}) > td:nth-child(4) > span')[0].get_text())

We also want the geographical information (latitude, longitude) of the cities. To get those we opened for each city it's corresponding Wikipedia page (city_url). Fortunately lat and lon were at the same spot each time. So a single for loop was enough.

In [23]:
latitude = []
longitude = []
for city in cities:
    city_url = 'https://en.wikipedia.org/wiki/' + city
    city_response = requests.get(city_url)
    soup = BeautifulSoup(city_response.content, "html.parser")
    latitude.append(soup.select(".latitude")[0].get_text())
    longitude.append(soup.select(".longitude")[0].get_text())

In [8]:
#latitude

In [24]:
assert len(cities) == len(population) == len(latitude) == len(longitude)

In [25]:
# making a df with the columns we gathered
cities_df = pd.DataFrame( data = {'city': cities,
                         'lat':latitude,
                         'lon': longitude,
                         'population':population}
                        )
cities_df

                 city         lat         lon population
0              Berlin  52°31′12″N  13°24′18″E  3,664,088
1              Madrid  40°25′00″N  03°42′09″W  3,305,408
2                Rome  41°53′36″N  12°28′58″E  2,770,226
3           Bucharest  44°25′57″N   26°6′14″E  2,161,347
4               Paris  48°51′24″N   2°21′08″E  2,139,907
5              Vienna     48°12′N     16°22′E  1,951,354
6             Hamburg  53°33′00″N  10°00′00″E  1,852,478
7              Warsaw  52°13′48″N  21°00′40″E  1,792,718
8            Budapest  47°29′33″N  19°03′05″E  1,723,836
9           Barcelona     41°23′N      2°11′E  1,636,732
10             Munich  48°08′15″N  11°34′30″E  1,488,202
11              Milan  45°28′01″N  09°11′24″E  1,374,582
12              Sofia     42°42′N     23°20′E  1,307,439
13             Prague  50°05′15″N  14°25′17″E  1,275,406
14            Cologne  50°56′11″N   6°57′10″E  1,083,498
15          Stockholm  59°19′46″N    18°4′7″E    978,770
16             Naples  40°50′42″N  14°15′30″E    922,094
17          Amsterdam     52°22′N      4°54′E    905,234
18          Marseille  43°17′47″N   5°22′12″E    870,731
19              Turin  45°04′45″N  07°40′34″E    858,205
20           Valencia  39°28′00″N   0°22′30″W    789,744
21             Kraków  50°03′41″N  19°56′14″E    780,796
22             Zagreb     45°49′N     15°59′E    769,944
23  Frankfurt am Main      50°7′N      8°41′E    764,104
24            Seville     37°23′N      5°59′W    684,234
25           Zaragoza     41°39′N      0°53′W    675,301
26               Łódź  51°46′37″N  19°27′17″E    667,923
27             Athens  37°59′03″N  23°43′41″E    664,046
28           Helsinki  60°10′15″N  24°56′15″E    658,864
29          Rotterdam     51°55′N      4°30′E    655,418
30            Wrocław  51°06′36″N  17°01′57″E    641,201
31         Copenhagen  55°40′34″N  12°34′06″E    638,117
32            Palermo  38°06′40″N  13°21′06″E    637,885
33          Stuttgart  48°46′55″N   9°11′02″E    630,305
34         Düsseldorf     51°14′N      6°47′E    620,523
35               Riga  56°56′56″N   24°6′23″E    614,618
36            Leipzig  51°20′24″N  12°22′30″E    597,493
37           Dortmund     51°31′N      7°28′E    587,696
38         Gothenburg     57°42′N     11°58′E    587,549
39              Essen   51°27′3″N    7°0′47″E    582,415
40             Málaga  36°43′10″N   4°25′12″W    577,405
41             Bremen      53°5′N      8°48′E    566,573
42              Genoa  44°24′40″N   8°55′58″E    566,410
43            Vilnius     54°41′N     25°17′E    560,120
44            Dresden  51°03′00″N  13°44′24″E    556,227
45             Dublin  53°21′00″N  06°15′37″W    554,554
46          The Hague  52°04′48″N  04°18′36″E    553,277
47            Hanover     52°22′N      9°43′E    534,049
48             Poznań  52°24′30″N  16°56′01″E    530,464
49            Antwerp  51°13′04″N  04°24′01″E    528,903

For the population to be an integer, we have to remove the commas:

In [26]:
cities_df['population'] = cities_df.population.str.replace(',', '')
cities_df['population'] = pd.to_numeric(cities_df['population'])
cities_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city        50 non-null     object
 1   lat         50 non-null     object
 2   lon         50 non-null     object
 3   population  50 non-null     int64
dtypes: int64(1), object(3)
memory usage: 1.7+ KB

Since we want to use the longitude and latitude for the aerodata API, we have to change the format of these entries. We want to have float numbers instead of sth like 12°34´56´´N.
Note that a latitude with an S (south) and a longitude with a W (west) correspond to negative numbers in this case.

In [27]:
# since all latitudes gathered are on the north half and not too close to the equator,
# we can just remove all non-digits and pot a floating point after the second digit.
# If we would look at cities all over the world, we should proceed as we do for the longitude
cities_df['lat'] = cities_df.lat.str.replace('\D','', regex=True)
cities_df['lat'] = cities_df.lat.str[:2] + '.' + cities_df.lat.str[2:]

In [28]:
cities_df['lon'] = cities_df.lon.str.replace('°','.')
cities_df.loc[cities_df.lon.str[-1] == 'W','lon'] = '-' + cities_df.loc[cities_df.lon.str[-1] == 'W','lon']

In [29]:
cities_df['lon'] = cities_df['lon'].replace('[EW]', '', regex=True)

In [30]:
cities_df['lon'] = cities_df['lon'].replace('″', '', regex=True)
cities_df['lon'] = cities_df['lon'].replace('′', '', regex=True)

In [31]:
cities_df['lat'] = pd.to_numeric(cities_df['lat'])
cities_df['lon'] = pd.to_numeric(cities_df['lon'])

In [32]:
cities_df

                 city      lat      lon  population
0              Berlin  52.3112  13.2418     3664088
1              Madrid  40.2500  -3.4209     3305408
2                Rome  41.5336  12.2858     2770226
3           Bucharest  44.2557  26.6140     2161347
4               Paris  48.5124   2.2108     2139907
5              Vienna  48.1200  16.2200     1951354
6             Hamburg  53.3300  10.0000     1852478
7              Warsaw  52.1348  21.0040     1792718
8            Budapest  47.2933  19.0305     1723836
9           Barcelona  41.2300   2.1100     1636732
10             Munich  48.0815  11.3430     1488202
11              Milan  45.2801   9.1124     1374582
12              Sofia  42.4200  23.2000     1307439
13             Prague  50.0515  14.2517     1275406
14            Cologne  50.5611   6.5710     1083498
15          Stockholm  59.1946  18.4700      978770
16             Naples  40.5042  14.1530      922094
17          Amsterdam  52.2200   4.5400      905234
18          Marseille  43.1747   5.2212      870731
19              Turin  45.0445   7.4034      858205
20           Valencia  39.2800  -0.2230      789744
21             Kraków  50.0341  19.5614      780796
22             Zagreb  45.4900  15.5900      769944
23  Frankfurt am Main  50.7000   8.4100      764104
24            Seville  37.2300  -5.5900      684234
25           Zaragoza  41.3900  -0.5300      675301
26               Łódź  51.4637  19.2717      667923
27             Athens  37.5903  23.4341      664046
28           Helsinki  60.1015  24.5615      658864
29          Rotterdam  51.5500   4.3000      655418
30            Wrocław  51.0636  17.0157      641201
31         Copenhagen  55.4034  12.3406      638117
32            Palermo  38.0640  13.2106      637885
33          Stuttgart  48.4655   9.1102      630305
34         Düsseldorf  51.1400   6.4700      620523
35               Riga  56.5656  24.6230      614618
36            Leipzig  51.2024  12.2230      597493
37           Dortmund  51.3100   7.2800      587696
38         Gothenburg  57.4200  11.5800      587549
39              Essen  51.2730   7.0470      582415
40             Málaga  36.4310  -4.2512      577405
41             Bremen  53.5000   8.4800      566573
42              Genoa  44.2440   8.5558      566410
43            Vilnius  54.4100  25.1700      560120
44            Dresden  51.0300  13.4424      556227
45             Dublin  53.2100  -6.1537      554554
46          The Hague  52.0448   4.1836      553277
47            Hanover  52.2200   9.4300      534049
48             Poznań  52.2430  16.5601      530464
49            Antwerp  51.1304   4.2401      528903

Now we can save the file as a csv-file.

In [33]:
cities_df.to_csv('cities.csv')

In [36]:
cities_df = pd.read_csv('cities.csv', index_col = 0)
cities_df

                 city      lat      lon  population
0              Berlin  52.3112  13.2418     3664088
1              Madrid  40.2500  -3.4209     3305408
2                Rome  41.5336  12.2858     2770226
3           Bucharest  44.2557  26.6140     2161347
4               Paris  48.5124   2.2108     2139907
5              Vienna  48.1200  16.2200     1951354
6             Hamburg  53.3300  10.0000     1852478
7              Warsaw  52.1348  21.0040     1792718
8            Budapest  47.2933  19.0305     1723836
9           Barcelona  41.2300   2.1100     1636732
10             Munich  48.0815  11.3430     1488202
11              Milan  45.2801   9.1124     1374582
12              Sofia  42.4200  23.2000     1307439
13             Prague  50.0515  14.2517     1275406
14            Cologne  50.5611   6.5710     1083498
15          Stockholm  59.1946  18.4700      978770
16             Naples  40.5042  14.1530      922094
17          Amsterdam  52.2200   4.5400      905234
18          Marseille  43.1747   5.2212      870731
19              Turin  45.0445   7.4034      858205
20           Valencia  39.2800  -0.2230      789744
21             Kraków  50.0341  19.5614      780796
22             Zagreb  45.4900  15.5900      769944
23  Frankfurt am Main  50.7000   8.4100      764104
24            Seville  37.2300  -5.5900      684234
25           Zaragoza  41.3900  -0.5300      675301
26               Łódź  51.4637  19.2717      667923
27             Athens  37.5903  23.4341      664046
28           Helsinki  60.1015  24.5615      658864
29          Rotterdam  51.5500   4.3000      655418
30            Wrocław  51.0636  17.0157      641201
31         Copenhagen  55.4034  12.3406      638117
32            Palermo  38.0640  13.2106      637885
33          Stuttgart  48.4655   9.1102      630305
34         Düsseldorf  51.1400   6.4700      620523
35               Riga  56.5656  24.6230      614618
36            Leipzig  51.2024  12.2230      597493
37           Dortmund  51.3100   7.2800      587696
38         Gothenburg  57.4200  11.5800      587549
39              Essen  51.2730   7.0470      582415
40             Málaga  36.4310  -4.2512      577405
41             Bremen  53.5000   8.4800      566573
42              Genoa  44.2440   8.5558      566410
43            Vilnius  54.4100  25.1700      560120
44            Dresden  51.0300  13.4424      556227
45             Dublin  53.2100  -6.1537      554554
46          The Hague  52.0448   4.1836      553277
47            Hanover  52.2200   9.4300      534049
48             Poznań  52.2430  16.5601      530464
49            Antwerp  51.1304   4.2401      528903

## Getting weather information using openweather API

Here we use the API keys that we loaded in the beginning of the notebook.

In [37]:
weather_url = f'http://api.openweathermap.org/data/2.5/forecast?q=Berlin&appid={openweather_key}&units=metric'
response = requests.get(weather_url)
#response.json()
response.json()

{'cod': '200',
 'message': 0,
 'cnt': 40,
 'list': [{'dt': 1654862400,
   'main': {'temp': 22.46,
    'feels_like': 21.94,
    'temp_min': 22.46,
    'temp_max': 23.93,
    'pressure': 1019,
    'sea_level': 1019,
    'grnd_level': 1016,
    'humidity': 45,
    'temp_kf': -1.47},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'clouds': {'all': 14},
   'wind': {'speed': 3.83, 'deg': 290, 'gust': 5.34},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-10 12:00:00'},
  {'dt': 1654873200,
   'main': {'temp': 23.93,
    'feels_like': 23.34,
    'temp_min': 23.93,
    'temp_max': 25.03,
    'pressure': 1019,
    'sea_level': 1019,
    'grnd_level': 1015,
    'humidity': 37,
    'temp_kf': -1.1},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 10},
   'wind': {'speed': 3.64, 'deg': 290, 'gust': 4.69},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-10 15:00:00'},
  {'dt': 1654884000,
   'main': {'temp': 23,
    'feels_like': 22.35,
    'temp_min': 23,
    'temp_max': 23,
    'pressure': 1020,
    'sea_level': 1020,
    'grnd_level': 1015,
    'humidity': 38,
    'temp_kf': 0},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'clouds': {'all': 13},
   'wind': {'speed': 3.12, 'deg': 280, 'gust': 4.44},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-10 18:00:00'},
  {'dt': 1654894800,
   'main': {'temp': 18.78,
    'feels_like': 18.28,
    'temp_min': 18.78,
    'temp_max': 18.78,
    'pressure': 1021,
    'sea_level': 1021,
    'grnd_level': 1016,
    'humidity': 60,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'clouds': {'all': 57},
   'wind': {'speed': 2.43, 'deg': 309, 'gust': 5.13},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2022-06-10 21:00:00'},
  {'dt': 1654905600,
   'main': {'temp': 17.98,
    'feels_like': 17.56,
    'temp_min': 17.98,
    'temp_max': 17.98,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1016,
    'humidity': 66,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'clouds': {'all': 79},
   'wind': {'speed': 1.56, 'deg': 281, 'gust': 2.55},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2022-06-11 00:00:00'},
  {'dt': 1654916400,
   'main': {'temp': 15.73,
    'feels_like': 15.24,
    'temp_min': 15.73,
    'temp_max': 15.73,
    'pressure': 1021,
    'sea_level': 1021,
    'grnd_level': 1016,
    'humidity': 72,
    'temp_kf': 0},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'clouds': {'all': 38},
   'wind': {'speed': 1.78, 'deg': 254, 'gust': 2.99},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-11 03:00:00'},
  {'dt': 1654927200,
   'main': {'temp': 19.37,
    'feels_like': 18.82,
    'temp_min': 19.37,
    'temp_max': 19.37,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1017,
    'humidity': 56,
    'temp_kf': 0},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'clouds': {'all': 38},
   'wind': {'speed': 2.21, 'deg': 245, 'gust': 3.72},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-11 06:00:00'},
  {'dt': 1654938000,
   'main': {'temp': 24.16,
    'feels_like': 23.75,
    'temp_min': 24.16,
    'temp_max': 24.16,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1017,
    'humidity': 43,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 58},
   'wind': {'speed': 2.92, 'deg': 261, 'gust': 4.11},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-11 09:00:00'},
  {'dt': 1654948800,
   'main': {'temp': 25.23,
    'feels_like': 24.88,
    'temp_min': 25.23,
    'temp_max': 25.23,
    'pressure': 1021,
    'sea_level': 1021,
    'grnd_level': 1016,
    'humidity': 41,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 71},
   'wind': {'speed': 3.32, 'deg': 279, 'gust': 5.07},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-11 12:00:00'},
  {'dt': 1654959600,
   'main': {'temp': 23.68,
    'feels_like': 23.38,
    'temp_min': 23.68,
    'temp_max': 23.68,
    'pressure': 1021,
    'sea_level': 1021,
    'grnd_level': 1016,
    'humidity': 49,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 78},
   'wind': {'speed': 2.41, 'deg': 271, 'gust': 5.02},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-11 15:00:00'},
  {'dt': 1654970400,
   'main': {'temp': 21.59,
    'feels_like': 21.19,
    'temp_min': 21.59,
    'temp_max': 21.59,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1016,
    'humidity': 53,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 84},
   'wind': {'speed': 2.58, 'deg': 328, 'gust': 5.97},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-11 18:00:00'},
  {'dt': 1654981200,
   'main': {'temp': 20.42,
    'feels_like': 20.03,
    'temp_min': 20.42,
    'temp_max': 20.42,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1017,
    'humidity': 58,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'clouds': {'all': 78},
   'wind': {'speed': 1.64, 'deg': 246, 'gust': 3.11},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2022-06-11 21:00:00'},
  {'dt': 1654992000,
   'main': {'temp': 18.18,
    'feels_like': 17.67,
    'temp_min': 18.18,
    'temp_max': 18.18,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1017,
    'humidity': 62,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'clouds': {'all': 70},
   'wind': {'speed': 1.89, 'deg': 308, 'gust': 3.18},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2022-06-12 00:00:00'},
  {'dt': 1655002800,
   'main': {'temp': 16.34,
    'feels_like': 15.81,
    'temp_min': 16.34,
    'temp_max': 16.34,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1017,
    'humidity': 68,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 74},
   'wind': {'speed': 1.47, 'deg': 294, 'gust': 1.84},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-12 03:00:00'},
  {'dt': 1655013600,
   'main': {'temp': 18.73,
    'feels_like': 18.28,
    'temp_min': 18.73,
    'temp_max': 18.73,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1017,
    'humidity': 62,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 80},
   'wind': {'speed': 1.84, 'deg': 289, 'gust': 2.71},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-12 06:00:00'},
  {'dt': 1655024400,
   'main': {'temp': 21.76,
    'feels_like': 21.22,
    'temp_min': 21.76,
    'temp_max': 21.76,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1017,
    'humidity': 47,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 90},
   'wind': {'speed': 2.71, 'deg': 284, 'gust': 3.85},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-12 09:00:00'},
  {'dt': 1655035200,
   'main': {'temp': 24.87,
    'feels_like': 24.35,
    'temp_min': 24.87,
    'temp_max': 24.87,
    'pressure': 1020,
    'sea_level': 1020,
    'grnd_level': 1015,
    'humidity': 36,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 84},
   'wind': {'speed': 3.38, 'deg': 268, 'gust': 6.3},
   'visibility': 10000,
   'pop': 0.1,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-12 12:00:00'},
  {'dt': 1655046000,
   'main': {'temp': 25.85,
    'feels_like': 25.14,
    'temp_min': 25.85,
    'temp_max': 25.85,
    'pressure': 1019,
    'sea_level': 1019,
    'grnd_level': 1014,
    'humidity': 25,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 62},
   'wind': {'speed': 5.64, 'deg': 285, 'gust': 7.04},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-12 15:00:00'},
  {'dt': 1655056800,
   'main': {'temp': 22.9,
    'feels_like': 22.11,
    'temp_min': 22.9,
    'temp_max': 22.9,
    'pressure': 1018,
    'sea_level': 1018,
    'grnd_level': 1013,
    'humidity': 33,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 64},
   'wind': {'speed': 4.44, 'deg': 289, 'gust': 6.67},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-12 18:00:00'},
  {'dt': 1655067600,
   'main': {'temp': 17.87,
    'feels_like': 17.31,
    'temp_min': 17.87,
    'temp_max': 17.87,
    'pressure': 1019,
    'sea_level': 1019,
    'grnd_level': 1014,
    'humidity': 61,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'clouds': {'all': 65},
   'wind': {'speed': 2.53, 'deg': 353, 'gust': 5.9},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2022-06-12 21:00:00'},
  {'dt': 1655078400,
   'main': {'temp': 16.35,
    'feels_like': 15.84,
    'temp_min': 16.35,
    'temp_max': 16.35,
    'pressure': 1018,
    'sea_level': 1018,
    'grnd_level': 1013,
    'humidity': 69,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'clouds': {'all': 82},
   'wind': {'speed': 2.33, 'deg': 341, 'gust': 4.09},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2022-06-13 00:00:00'},
  {'dt': 1655089200,
   'main': {'temp': 13.23,
    'feels_like': 12.67,
    'temp_min': 13.23,
    'temp_max': 13.23,
    'pressure': 1018,
    'sea_level': 1018,
    'grnd_level': 1013,
    'humidity': 79,
    'temp_kf': 0},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'clouds': {'all': 41},
   'wind': {'speed': 3.41, 'deg': 314, 'gust': 6.27},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-13 03:00:00'},
  {'dt': 1655100000,
   'main': {'temp': 14.48,
    'feels_like': 13.68,
    'temp_min': 14.48,
    'temp_max': 14.48,
    'pressure': 1019,
    'sea_level': 1019,
    'grnd_level': 1014,
    'humidity': 65,
    'temp_kf': 0},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'clouds': {'all': 49},
   'wind': {'speed': 4.63, 'deg': 304, 'gust': 7.53},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-13 06:00:00'},
  {'dt': 1655110800,
   'main': {'temp': 17.97,
    'feels_like': 16.95,
    'temp_min': 17.97,
    'temp_max': 17.97,
    'pressure': 1018,
    'sea_level': 1018,
    'grnd_level': 1013,
    'humidity': 43,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 100},
   'wind': {'speed': 5.11, 'deg': 298, 'gust': 7.08},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-13 09:00:00'},
  {'dt': 1655121600,
   'main': {'temp': 18.46,
    'feels_like': 17.41,
    'temp_min': 18.46,
    'temp_max': 18.46,
    'pressure': 1018,
    'sea_level': 1018,
    'grnd_level': 1013,
    'humidity': 40,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 83},
   'wind': {'speed': 6.02, 'deg': 297, 'gust': 7.68},
   'visibility': 10000,
   'pop': 0.02,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-13 12:00:00'},
  {'dt': 1655132400,
   'main': {'temp': 18.42,
    'feels_like': 17.41,
    'temp_min': 18.42,
    'temp_max': 18.42,
    'pressure': 1018,
    'sea_level': 1018,
    'grnd_level': 1013,
    'humidity': 42,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 82},
   'wind': {'speed': 5.09, 'deg': 282, 'gust': 8.09},
   'visibility': 10000,
   'pop': 0.07,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-13 15:00:00'},
  {'dt': 1655143200,
   'main': {'temp': 18.18,
    'feels_like': 17.25,
    'temp_min': 18.18,
    'temp_max': 18.18,
    'pressure': 1018,
    'sea_level': 1018,
    'grnd_level': 1013,
    'humidity': 46,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 64},
   'wind': {'speed': 4, 'deg': 306, 'gust': 7.92},
   'visibility': 10000,
   'pop': 0.22,
   'rain': {'3h': 0.13},
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-13 18:00:00'},
  {'dt': 1655154000,
   'main': {'temp': 14.37,
    'feels_like': 13.51,
    'temp_min': 14.37,
    'temp_max': 14.37,
    'pressure': 1020,
    'sea_level': 1020,
    'grnd_level': 1015,
    'humidity': 63,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'clouds': {'all': 52},
   'wind': {'speed': 3.54, 'deg': 314, 'gust': 7.9},
   'visibility': 10000,
   'pop': 0.03,
   'sys': {'pod': 'n'},
   'dt_txt': '2022-06-13 21:00:00'},
  {'dt': 1655164800,
   'main': {'temp': 11.4,
    'feels_like': 10.4,
    'temp_min': 11.4,
    'temp_max': 11.4,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1016,
    'humidity': 69,
    'temp_kf': 0},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03n'}],
   'clouds': {'all': 27},
   'wind': {'speed': 3.76, 'deg': 295, 'gust': 9},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2022-06-14 00:00:00'},
  {'dt': 1655175600,
   'main': {'temp': 9.29,
    'feels_like': 7.38,
    'temp_min': 9.29,
    'temp_max': 9.29,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1016,
    'humidity': 82,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 3.5, 'deg': 283, 'gust': 7.87},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-14 03:00:00'},
  {'dt': 1655186400,
   'main': {'temp': 12.3,
    'feels_like': 11.44,
    'temp_min': 12.3,
    'temp_max': 12.3,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1017,
    'humidity': 71,
    'temp_kf': 0},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'clouds': {'all': 14},
   'wind': {'speed': 4.29, 'deg': 289, 'gust': 6.88},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-14 06:00:00'},
  {'dt': 1655197200,
   'main': {'temp': 13.54,
    'feels_like': 12.59,
    'temp_min': 13.54,
    'temp_max': 13.54,
    'pressure': 1023,
    'sea_level': 1023,
    'grnd_level': 1017,
    'humidity': 63,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 100},
   'wind': {'speed': 4.06, 'deg': 289, 'gust': 5.71},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-14 09:00:00'},
  {'dt': 1655208000,
   'main': {'temp': 16.72,
    'feels_like': 15.78,
    'temp_min': 16.72,
    'temp_max': 16.72,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1017,
    'humidity': 51,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 98},
   'wind': {'speed': 4.29, 'deg': 296, 'gust': 5.27},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-14 12:00:00'},
  {'dt': 1655218800,
   'main': {'temp': 19.52,
    'feels_like': 18.52,
    'temp_min': 19.52,
    'temp_max': 19.52,
    'pressure': 1021,
    'sea_level': 1021,
    'grnd_level': 1016,
    'humidity': 38,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 97},
   'wind': {'speed': 2.92, 'deg': 299, 'gust': 5.04},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-14 15:00:00'},
  {'dt': 1655229600,
   'main': {'temp': 19.18,
    'feels_like': 18.22,
    'temp_min': 19.18,
    'temp_max': 19.18,
    'pressure': 1020,
    'sea_level': 1020,
    'grnd_level': 1015,
    'humidity': 41,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 65},
   'wind': {'speed': 2.15, 'deg': 334, 'gust': 4.06},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-14 18:00:00'},
  {'dt': 1655240400,
   'main': {'temp': 14.82,
    'feels_like': 14.03,
    'temp_min': 14.82,
    'temp_max': 14.82,
    'pressure': 1021,
    'sea_level': 1021,
    'grnd_level': 1016,
    'humidity': 64,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'clouds': {'all': 67},
   'wind': {'speed': 2.95, 'deg': 17, 'gust': 6.62},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2022-06-14 21:00:00'},
  {'dt': 1655251200,
   'main': {'temp': 12.88,
    'feels_like': 12.16,
    'temp_min': 12.88,
    'temp_max': 12.88,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1017,
    'humidity': 74,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'clouds': {'all': 81},
   'wind': {'speed': 1.68, 'deg': 350, 'gust': 3.07},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2022-06-15 00:00:00'},
  {'dt': 1655262000,
   'main': {'temp': 11.45,
    'feels_like': 10.79,
    'temp_min': 11.45,
    'temp_max': 11.45,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1017,
    'humidity': 82,
    'temp_kf': 0},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'clouds': {'all': 48},
   'wind': {'speed': 1.82, 'deg': 332, 'gust': 2.83},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2022-06-15 03:00:00'},
  {'dt': 1655272800,
   'main': {'temp': 15.41,
    'feels_like': 14.7,
    'temp_min': 15.41,
    'temp_max': 15.41,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1017,
    'humidity': 65,
    'temp_kf': 0},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'clouds': {'all': 39},

In [20]:
def openweather(city):
    weather_url = f'http://api.openweathermap.org/data/2.5/forecast?q={city}&limit=5&appid={openweather_key}&units=metric'
    response = requests.get(weather_url)
    
    city_weather = []
    for i in range(len(response.json()['list'])):
        dt_txt = response.json()['list'][i]['dt_txt']
        temp = response.json()['list'][i]['main']['temp']
        humidity = response.json()['list'][i]['main']['humidity']
        weather = response.json()['list'][i]['weather'][0]['main']
        weather_desc = response.json()['list'][i]['weather'][0]['description']
        clouds = response.json()['list'][i]['clouds']['all']
        pop = response.json()['list'][i]['pop']
        city_weather.append([city, dt_txt, temp, humidity, weather, weather_desc, clouds, pop])
    return(city_weather)

In [21]:
#openweather('Berlin')

In [22]:
cit = []
dt_txt = []
temp = []
humidity = []
weather = []
weather_desc = []
clouds = []
pop = []

for city in cities:
    city_weather = openweather(city)
    for i in range(len(city_weather)):
        cit.append(city_weather[i][0])
        dt_txt.append(city_weather[i][1])
        temp.append(city_weather[i][2])
        humidity.append(city_weather[i][3])
        weather.append(city_weather[i][4])
        weather_desc.append(city_weather[i][5])
        clouds.append(city_weather[i][6])
        pop.append(city_weather[i][7])

In [23]:
city_weather_df = pd.DataFrame(data = {'city':cit, 
                                       'dt_txt':dt_txt, 
                                       'temp':temp, 
                                      'humidity': humidity, 
                                      'weather': weather, 
                                      'weather_desc': weather_desc, 
                                      'clouds': clouds, 
                                      'pop' : pop})

In [24]:
city_weather_df

,city,dt_txt,temp,humidity,weather,weather_desc,clouds,pop
0,Berlin,2022-06-09 12:00:00,20.09,69,Clouds,overcast clouds,98,0.06
1,Berlin,2022-06-09 15:00:00,21.18,59,Clouds,overcast clouds,99,0.13
2,Berlin,2022-06-09 18:00:00,20.56,57,Clouds,overcast clouds,99,0.03
3,Berlin,2022-06-09 21:00:00,18.11,71,Rain,light rain,99,0.28
4,Berlin,2022-06-10 00:00:00,14.79,81,Rain,light rain,79,0.27
...,...,...,...,...,...,...,...,...
1995,Antwerp,2022-06-13 21:00:00,13.02,68,Clouds,few clouds,12,0.00
1996,Antwerp,2022-06-14 00:00:00,11.85,73,Clouds,scattered clouds,31,0.00
1997,Antwerp,2022-06-14 03:00:00,10.80,76,Clouds,few clouds,11,0.00
1998,Antwerp,2022-06-14 06:00:00,13.72,65,Clouds,scattered clouds,33,0.00
1999,Antwerp,2022-06-14 09:00:00,19.03,49,Clouds,broken clouds,68,0.00

In [28]:
city_weather_df.to_csv('city_weather.csv')

In [44]:
cities_df

                 city      lat      lon  population
0              Berlin  52.3112  13.2418     3664088
1              Madrid  40.2500  -3.4209     3305408
2                Rome  41.5336  12.2858     2770226
3           Bucharest  44.2557  26.6140     2161347
4               Paris  48.5124   2.2108     2139907
5              Vienna  48.1200  16.2200     1951354
6             Hamburg  53.3355  10.0005     1852478
7              Warsaw  52.1348  21.0040     1792718
8            Budapest  47.2933  19.0305     1723836
9           Barcelona  41.2300   2.1100     1636732
10             Munich  48.0815  11.3430     1488202
11              Milan  45.2801   9.1124     1374582
12              Sofia  42.4200  23.2000     1307439
13             Prague  50.0515  14.2517     1275406
14            Cologne  50.5611   6.5710     1083498
15          Stockholm  59.1946  18.4700      978770
16             Naples  40.5042  14.1530      922094
17          Amsterdam  52.2200   4.5400      905234
18          Marseille  43.1747   5.2212      870731
19              Turin  45.0445   7.4034      858205
20           Valencia  39.2800  -0.2230      789744
21             Kraków  50.0341  19.5614      780796
22             Zagreb  45.4900  15.5900      769944
23  Frankfurt am Main  50.7000   8.4100      764104
24            Seville  37.2300  -5.5900      684234
25           Zaragoza  41.3900  -0.5300      675301
26               Łódź  51.4637  19.2717      667923
27             Athens  37.5903  23.4341      664046
28           Helsinki  60.1015  24.5615      658864
29          Rotterdam  51.5500   4.3000      655418
30            Wrocław  51.0636  17.0157      641201
31         Copenhagen  55.4034  12.3406      638117
32            Palermo  38.0640  13.2106      637885
33          Stuttgart  48.4655   9.1102      630305
34         Düsseldorf  51.1400   6.4700      620523
35               Riga  56.5656  24.6230      614618
36            Leipzig  51.2024  12.2230      597493
37           Dortmund  51.3100   7.2800      587696
38         Gothenburg  57.4200  11.5800      587549
39              Essen  51.2730   7.0470      582415
40             Málaga  36.4310  -4.2512      577405
41             Bremen  53.5000   8.4800      566573
42              Genoa  44.2440   8.5558      566410
43            Vilnius  54.4100  25.1700      560120
44            Dresden  51.0300  13.4424      556227
45             Dublin  53.2100  -6.1537      554554
46          The Hague  52.0448   4.1836      553277
47            Hanover  52.2200   9.4300      534049
48             Poznań  52.2430  16.5601      530464
49            Antwerp  51.1304   4.2401      528903

# Airports

we will now gather all the airports which are close to the cities from our cities_df. 
Since we also want to measure the distance from airport to city, we install geopy.
This allows us to get the distance from latitude and longitude alone.

In [59]:
pip install geopy

Collecting geopyNote: you may need to restart the kernel to use updated packages.
  Downloading geopy-2.2.0-py3-none-any.whl (118 kB)

Collecting geographiclib<2,>=1.49
  Downloading geographiclib-1.52-py3-none-any.whl (38 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.52 geopy-2.2.0

In [ ]:
from geopy import distance

In [42]:
airports = []

querystring = {"withFlightInfoOnly":"true"}

headers = {
    "X-RapidAPI-Host": "aerodatabox.p.rapidapi.com",
    "X-RapidAPI-Key": d['aerodatabox_key']
}

for i in range(len(cities_df)):
    lat = cities_df.iloc[i]['lat']
    lon = cities_df.iloc[i]['lon']
    airport_url = f"https://aerodatabox.p.rapidapi.com/airports/search/location/{lat}/{lon}/km/50/16"
    
    response = requests.request("GET", airport_url, headers=headers, params=querystring)
    for j in range(len(response.json()['items'])):
        country_code = response.json()['items'][j]['countryCode']
        iata = response.json()['items'][j]['iata']
        icao = response.json()['items'][j]['icao']
        name = response.json()['items'][j]['name']
        #short_name = response.json()['items'][j]['shortName']
        airport_lat = response.json()['items'][j]['location']['lat']
        airport_lon = response.json()['items'][j]['location']['lon']
        airports.append([cities_df.iloc[i]['city'], country_code, iata, icao, name, airport_lat, airport_lon])

In [46]:
airports_df = pd.DataFrame(data = airports)

In [53]:
airports_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          58 non-null     object
 1   country_code  58 non-null     object
 2   iata          58 non-null     object
 3   icao          58 non-null     object
 4   airport_name  58 non-null     object
 5   airport_lat   58 non-null     float64
 6   airport_lon   58 non-null     float64
 7   city_dist     58 non-null     int64
dtypes: float64(2), int64(1), object(5)
memory usage: 3.8+ KB

In [48]:
cities_df

                 city      lat      lon  population
0              Berlin  52.3112  13.2418     3664088
1              Madrid  40.2500  -3.4209     3305408
2                Rome  41.5336  12.2858     2770226
3           Bucharest  44.2557  26.6140     2161347
4               Paris  48.5124   2.2108     2139907
5              Vienna  48.1200  16.2200     1951354
6             Hamburg  53.3300  10.0000     1852478
7              Warsaw  52.1348  21.0040     1792718
8            Budapest  47.2933  19.0305     1723836
9           Barcelona  41.2300   2.1100     1636732
10             Munich  48.0815  11.3430     1488202
11              Milan  45.2801   9.1124     1374582
12              Sofia  42.4200  23.2000     1307439
13             Prague  50.0515  14.2517     1275406
14            Cologne  50.5611   6.5710     1083498
15          Stockholm  59.1946  18.4700      978770
16             Naples  40.5042  14.1530      922094
17          Amsterdam  52.2200   4.5400      905234
18          Marseille  43.1747   5.2212      870731
19              Turin  45.0445   7.4034      858205
20           Valencia  39.2800  -0.2230      789744
21             Kraków  50.0341  19.5614      780796
22             Zagreb  45.4900  15.5900      769944
23  Frankfurt am Main  50.7000   8.4100      764104
24            Seville  37.2300  -5.5900      684234
25           Zaragoza  41.3900  -0.5300      675301
26               Łódź  51.4637  19.2717      667923
27             Athens  37.5903  23.4341      664046
28           Helsinki  60.1015  24.5615      658864
29          Rotterdam  51.5500   4.3000      655418
30            Wrocław  51.0636  17.0157      641201
31         Copenhagen  55.4034  12.3406      638117
32            Palermo  38.0640  13.2106      637885
33          Stuttgart  48.4655   9.1102      630305
34         Düsseldorf  51.1400   6.4700      620523
35               Riga  56.5656  24.6230      614618
36            Leipzig  51.2024  12.2230      597493
37           Dortmund  51.3100   7.2800      587696
38         Gothenburg  57.4200  11.5800      587549
39              Essen  51.2730   7.0470      582415
40             Málaga  36.4310  -4.2512      577405
41             Bremen  53.5000   8.4800      566573
42              Genoa  44.2440   8.5558      566410
43            Vilnius  54.4100  25.1700      560120
44            Dresden  51.0300  13.4424      556227
45             Dublin  53.2100  -6.1537      554554
46          The Hague  52.0448   4.1836      553277
47            Hanover  52.2200   9.4300      534049
48             Poznań  52.2430  16.5601      530464
49            Antwerp  51.1304   4.2401      528903

In [49]:
airports_df = pd.DataFrame( data = airports, columns = ['city',
                                                        'country_code',
                                                        'iata',
                                                        'icao',
                                                        'airport_name',
                                                        'airport_lat', 
                                                        'airport_lon'])

In [4]:
cities_df = pd.read_csv('cities.csv')

# Creating the distance dataframe

In [73]:

airports_df['airport_geo'] = airports_df.apply(lambda airport: (airport.airport_lat, airport.airport_lon), axis = 1)
cities_df['city_geo'] = cities_df.apply(lambda city: (city.lat, city.lon), axis = 1)
airport_distance = airports_df.merge(cities_df, how= 'left', on = 'city')[['city', 'icao', 'city_geo', 'airport_geo']]

In [76]:
airport_distance['distance'] = airport_distance.apply(lambda airport: distance.distance(airport.city_geo, airport.airport_geo).km, axis=1)

In [79]:
airport_distance

          city  icao            city_geo             airport_geo   distance
0       Berlin  EDDB  (52.3112, 13.2418)   (52.35139, 13.493889)  17.757229
1       Berlin  EDDT  (52.3112, 13.2418)    (52.5597, 13.287699)  27.827624
2       Madrid  LEMD    (40.25, -3.4209)     (40.4936, -3.56676)  29.751398
3         Rome  LIRF  (41.5336, 12.2858)      (41.8045, 12.2508)  30.228865
4         Rome  LIRA  (41.5336, 12.2858)      (41.7994, 12.5949)  39.168757
5        Paris  LFPO   (48.5124, 2.2108)      (48.7253, 2.35944)  26.088382
6       Vienna  LOWW      (48.12, 16.22)      (48.1103, 16.5697)  26.060666
7      Hamburg  EDDH       (53.33, 10.0)     (53.6304, 9.988229)  33.442237
8       Warsaw  EPWA   (52.1348, 21.004)      (52.1657, 20.9671)   4.266245
9       Warsaw  EPMO   (52.1348, 21.004)      (52.4511, 20.6518)  42.616566
10    Budapest  LHBP  (47.2933, 19.0305)    (47.4369, 19.255598)  23.323595
11   Barcelona  LEBL       (41.23, 2.11)     (41.2971, 2.078459)   7.906909
12      Munich  EDDM   (48.0815, 11.343)      (48.3538, 11.7861)  44.732090
13       Milan  LIML   (45.2801, 9.1124)      (45.4451, 9.27674)  22.406744
14       Milan  LIMC   (45.2801, 9.1124)      (45.6306, 8.72811)  49.203788
15       Sofia  LBSF       (42.42, 23.2)  (42.696693, 23.411436)  35.301682
16      Prague  LKPR  (50.0515, 14.2517)        (50.1008, 14.26)   5.515757
17   Stockholm  ESSB    (59.1946, 18.47)    (59.3544, 17.941698)  34.989175
18      Naples  LIRN   (40.5042, 14.153)       (40.886, 14.2908)  43.968794
19   Amsterdam  EHAM       (52.22, 4.54)     (52.3086, 4.763889)  18.189053
20   Amsterdam  EHRD       (52.22, 4.54)      (51.9569, 4.43722)  30.110588
21   Marseille  LFML   (43.1747, 5.2212)    (43.43927, 5.221424)  29.393394
22       Turin  LIMF   (45.0445, 7.4034)      (45.2008, 7.64963)  26.019952
23    Valencia  LEVC     (39.28, -0.223)    (39.4893, -0.481624)  32.193805
24      Kraków  EPKK  (50.0341, 19.5614)      (50.0777, 19.7848)  16.717140
25      Zagreb  LDZA      (45.49, 15.59)    (45.7429, 16.068798)  46.740652
26     Seville  LEZL      (37.23, -5.59)     (37.418, -5.893109)  34.016015
27        Łódź  EPLL  (51.4637, 19.2717)      (51.7219, 19.3981)  30.032995
28    Helsinki  EFHK  (60.1015, 24.5615)      (60.3172, 24.9633)  32.770203
29   Rotterdam  EHWO        (51.55, 4.3)      (51.4491, 4.34203)  11.599114
30   Rotterdam  EBAW        (51.55, 4.3)     (51.1894, 4.460279)  41.642364
31   Rotterdam  EHGR        (51.55, 4.3)     (51.5674, 4.931829)  43.860753
32   Rotterdam  EHRD        (51.55, 4.3)      (51.9569, 4.43722)  46.253764
33     Wrocław  EPWR  (51.0636, 17.0157)      (51.1027, 16.8858)  10.088333
34  Copenhagen  EKCH  (55.4034, 12.3406)       (55.6179, 12.656)  31.102462
35     Palermo  LICJ   (38.064, 13.2106)     (38.176, 13.090999)  16.264780
36   Stuttgart  EDDS   (48.4655, 9.1102)      (48.6899, 9.22196)  26.280970
37  Düsseldorf  ETUR       (51.14, 6.47)      (51.1997, 6.13208)  24.549951
38  Düsseldorf  EDDL       (51.14, 6.47)     (51.2895, 6.766779)  26.582839
39     Leipzig  EDDP   (51.2024, 12.223)      (51.4324, 12.2416)  25.621336
40    Dortmund  EDLW       (51.31, 7.28)     (51.5183, 7.612239)  32.731110
41    Dortmund  EDDL       (51.31, 7.28)     (51.2895, 6.766779)  35.866805
42  Gothenburg  ESGG      (57.42, 11.58)      (57.6628, 12.2798)  49.874914
43       Essen  EDDL     (51.273, 7.047)     (51.2895, 6.766779)  19.637675
44       Essen  EDDK     (51.273, 7.047)     (50.8659, 7.142739)  45.784163
45       Essen  EDLW     (51.273, 7.047)     (51.5183, 7.612239)  47.879231
46      Málaga  LEMG   (36.431, -4.2512)     (36.6749, -4.49911)  35.002425
47       Genoa  LIMJ    (44.244, 8.5558)     (44.4133, 8.837499)  29.304541
48     Vilnius  EYVI      (54.41, 25.17)      (54.6341, 25.2858)  26.048203
49     Dresden  EDDC    (51.03, 13.4424)      (51.1328, 13.7672)  25.471989
50      Dublin  EIDW    (53.21, -6.1537)     (53.4213, -6.27007)  24.761948
51   The Hague  EHRD   (52.0448, 4.1836)      (51.9569, 4.43722)  19.975859
52   The Hague  EHAM   (52.0448, 4.1836)     (52.3086, 4.763889)  49.369605
53     Hanover  EDDV       (52.22, 9.43)     (52.4611, 9.685079)  31.968510
54      Poznań  EPPO   (52.243, 16.5601)       (52.421, 16.8263)  26.862622
55     Antwerp  EBAW   (51.1304, 4.2401)     (51.1894, 4.460279)  16.743116
56     Antwerp  EBBR   (51.1304, 4.2401)     (50.9014, 4.484439)  30.708490
57     Antwerp  EHWO   (51.1304, 4.2401)      (51.4491, 4.34203)  36.162545

In [47]:
response.json()

{'items': [{'icao': 'ETUR',
   'iata': 'BGN',
   'localCode': 'БЯГ',
   'name': 'Brüggen Air Base',
   'location': {'lat': 51.1997, 'lon': 6.13208},
   'countryCode': 'DE'},
  {'icao': 'EDDL',
   'iata': 'DUS',
   'name': 'Duesseldorf, Düsseldorf',
   'shortName': 'Düsseldorf',
   'municipalityName': 'Duesseldorf',
   'location': {'lat': 51.2895, 'lon': 6.766779},
   'countryCode': 'DE'}]}

In [61]:
print(distance.distance((51.1997, 6.13208), (51.2895, 6.766779)).km)

45.43164214949632

In [39]:
type(response)

requests.models.Response

In [62]:
pd.json_normalize(response.json()['items'])

,icao,iata,name,shortName,municipalityName,countryCode,location.lat,location.lon
0,EBAW,ANR,"Antwerp, Antwerp (Deurne)",(Deurne),Antwerp,BE,51.1894,4.460279
1,EBBR,BRU,Brussels,Brussels,Brussels,BE,50.9014,4.484439
2,EHWO,WOE,"Bergen op Zoom, Woensdrecht Air Base",Woensdrecht Air Base,Bergen op Zoom,NL,51.4491,4.342030